<nav class="navbar navbar-expand-lg navStyle">
  <!-- Container wrapper -->
  <div class="container-fluid" style="">
    <!-- Toggle button -->
    <button
      class="buttonIcon"
      type="button"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
       <i class="bi bi-list listIcon" style="height:40px" id="rotateI"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <img
          src="{{ asset('../img/LOGO4.png') }}"
          height="45"
          alt="MDB Logo"
          loading="lazy"
          style="padding-left:3px;"
        />
      </a>
      
    </div>

    <!-- Right elements -->
    <div class="d-flex align-items-center">

    {% if is_granted('ROLE_ADMIN') %}
      <a class="d-flex align-items-center lienNav" style="" href="/admin"> Administration </a>
    {% endif %}
      <a class="text-reset me-3" href="/catalogue">
      <span class="icon">
    <svg style="width:25px; height:25px; margin-left:10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
</span>
      </a>


      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      </div>
      <!-- Avatar -->
      <div class="dropdown d-inline-block" style="padding-right:20px;">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow whiteArrow"
          href="#"
          role="button" data-bs-toggle="dropdown" aria-expanded="false"
        >
          <i class="bi bi-person-circle logo iconTaille"></i>
        </a>
        <ul class="dropdown-menu ddropdown-menu-end w-70" style="right: 10px; left: auto;">
        {% if app.user %}
          <li class="reduc"> <a class="dropdown-item textcolor-white" href="{{ path('profile_index') }}" >Mon compte</a></li>
          <li class="reduc"> <a class="dropdown-item textcolor-white" href="{{ path('app_logout') }}" >Déconnexion</a></li>
        {% else %}
          <li class="reduc"><a class="dropdown-item textcolor-white" href="{{ path('app_register') }}" >Inscription</a></li>
          <li class="reduc"> <a class="dropdown-item textcolor-white" href="{{ path('app_login') }}" >Connexion</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

{# <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle textcolor-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              GENRES
            </a>
            
          </li>
 #}






























    <div class="offcanvas offcanvas-end offcanvasStyle" style="top:71px; left:0px; background-color:black;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" style="padding-left:0;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" style="padding-top:0;">

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 li5">
          <li class="nav-item">
            <a class="nav-link textcolor-white lienNav" aria-current="page" href="/">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link textcolor-white lienNav" aria-current="page" href="/catalogue">CATALOGUE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link textcolor-white lienNav" href="{{ path('listeAbonnements') }}">BOUTIQUE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link textcolor-white lienNav" href="{{ path('app_cinema') }}">RÉSERVATION</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle textcolor-white lienNav" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TYPES
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {% for type in typesVideos %}
              <li><a class="dropdown-item textcolor-white lienNav" href="{{ path('typeShow', {'idType': type.id}) }}"> {{ type.libelleTypeVideo }}</a></li>
            {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle textcolor-white lienNav" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CATÉGORIES
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
            {% for categorie in categories %}
              <li><a class="dropdown-item textcolor-white lienNav" href="{{ path('categorieShow', {'idCategorie': categorie.id}) }}"> {{ categorie.libelleCategorie }}</a></li>
            {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>



