{% extends 'base.html.twig' %}

{% block title %}Toutes nos Abonnement{% endblock %}

{% block body %}
 <br><br><br><br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
    <h1>Abonnement</h1>
    <a href="{{ path('abonnement.new') }}">
    <h3>Nouvelle Abonnement</h3>
    </a>
    {% for abonnement in abonnements %}
         <div class= "card-columms text-center mx-3"  style ="display: inline-block">
            <div class="card " style="width: 18rem;">
                <p  class="text-primary"> {{abonnement.getLibelleAbonnement}}</p>
                <a href="{{ path('abonnement.edit',{id : abonnement.id}) }}">Modifier</a>
                <a href="{{ path('abonnement.del',{id :abonnement.id}) }}">supprimer </a>
                <div class="card-footer">
                    <a href="{{ path('abonnement.new',{id:abonnement.id}) }}">
                    <small class="text-muted">
                        voir les article de {{abonnement.getLibelleAbonnement}}<a>
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
