{% extends 'base.html.twig' %}
{% block title %}
  videos
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

  {# début image bannière #}
	<div class="divimage"><img class="img-fluid imageDiv" src="../img/portaildiv2.png">
  </div>
  {# fin image bannière #}

  {# Début div présentation magasin #}
	<div class="workshopbody">
		<div id="movie-card-list">
			<div class="movie-card">
				<div class="color-overlay">
					<div class="movie-share">&nbsp;</div>
					<div class="movie-content">
						<div class="movie-header">
							<h1 class="movie-title">PROFITEZ DES MEILLEURS FILMS/SÉRIES/ANIMÉS AVEC PORTAIL PRIME.</h1>

							<h4 class="movie-info">Le site de streaming que vous allez adorer</h4>
						</div>
						<br>
						<p class="movie-desc">Abonnez-vous à Portail Prime pour pouvoir profiter de toutes nos vidéos sans pub et en qualité HD, où que vous soyez et quand vous voulez ! Profitez donc de nos offres qui vous permettrons de prendre un portail vers de nouvelles aventures
																												        et de nouvelles dimensions.</p>
						<a class="btn btn-outline" href="https://claytonstate.qualtrics.com/jfe/form/SV_9FScuNt5Fdv5yXb" target="_blank">Magasin</a>
					</div>
					<div class="movie-content" style="float:right !important; width:45%;">
						<img class="img-fluid" src="../img/fondDivAchat3.png" alt="MDB Logo" loading="lazy" style="padding-left:3px;"/>
					</div>
				</div>

			</div>
		</div>
	</div>
  {# Fin div présentation magasin #}

  {# Début texte show slider cards #}
	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px;">
		<p class="textMoment">Films du moments</p> 
	</div>
  {# Fin texte show slider cards #}


  {# Début slider cards #}
  <div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px; height:450px;">
      <div class="slider-wrap">
        <div class="slider sliderBarStyle">
          <div class="slider-inner">
            {% for allFilm in allFilm %}
              <div class="item">
                <div class="media-element">
                  <div class="card-container box">
                    <div class="card-flip">
                      <!-- Début Card Front -->
                      <div class="card front">
                        <img src="{{ allFilm.image }}" class="card-img-top img-fluid unselect" alt="movie-poster" draggable="false" style="height:339px;">
                        <div class="card-block" style="height:101px;">
                          <h5 class="card-title">{{ allFilm.titre }}</h5>
                          <p class="card-text"> {{ allFilm.typeVideo.libelleTypeVideo }} </p>
                          <p class="card-text">{{ allFilm.annee }}</p>
                        </div>
                      </div>
                      <!-- Fin Card Front -->

                      <!-- Début Card Back -->
                      <div class="card back">
                        <div class="card-block text-center cardblocktaille">
                          <h4 class="card-title souligne">Description</h4>
                          <a href="/video/show/{{ allFilm.id }}">
                          <p class="card-text">
                              {{ allFilm.description }}
                          </p>
                          </a>
                        </div>
                        <div class="card-block text-center">
                          <a href="/video/show/{{ allFilm.id }}" class="btn orange" style="margin-bottom:15px; margin-top:15px;">Watch</a>
                        </div>
                      </div>

                      <!-- Fin Card Back -->
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="progress-bar">
            <div class="prog-bar-inner sliderBarStyle"></div>
          </div>
        </div>
    </div>
  </div>
  {# Fin slider cards #}




  {# Début texte show slider cards #}
	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px; padding-top:80px;">
		<p class="textMoment">Animés du moment</p>
	</div>
  {# Fin texte show slider cards #}

  {# Début slider cards #}
  <div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px;">
    <div class="workshopbody">
      <div class="slider-wrap">
        <div class="slider sliderBarStyle">
          <div class="slider-inner2">
            {% for allAnime in allAnime %}
             <div class="item">
                <div class="media-element">
                  <div class="card-container box">
                    <div class="card-flip">
                      <!-- Début Card Front -->
                      <div class="card front">
                        <img src="{{ allAnime.image }}" class="card-img-top img-fluid unselect" alt="movie-poster" draggable="false" style="height:339px;">
                        <div class="card-block" style="height:101px;">
                          <h5 class="card-title">{{ allAnime.titre }}</h5>
                          <p class="card-text"> {{ allAnime.typeVideo.libelleTypeVideo }} </p>
                          <p class="card-text">{{ allAnime.annee }}</p>
                        </div>
                      </div>
                      <!-- Fin Card Front -->

                      <!-- Début Card Back -->
                      <div class="card back">
                        <div class="card-block text-center cardblocktaille">
                          <h4 class="card-title souligne">Description</h4>
                          <p class="card-text">
                              {{ allAnime.description }}
                          </p>
                        </div>
                        <div class="card-block text-center">
                          <a href="/video/show{{ allAnime.id }}" class="btn orange" style="margin-bottom:15px; margin-top:15px;">Watch</a>
                        </div>
                      </div>

                      <!-- Fin Card Back -->
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="progress-bar">
            <div class="prog-bar-inner2 sliderBarStyle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# Fin slider cards #}




 {# Début texte show slider cards #}
	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px; padding-top:40px;">
		<p class="textMoment">Séries du moment</p>
	</div>
  {# Fin texte show slider cards #}

  {# Début slider cards #}
  <div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px;">
    <div class="workshopbody">
      <div class="slider-wrap">
        <div class="slider sliderBarStyle">
          <div class="slider-inner3">
            {% for allSerie in allSerie %}
              <div class="item">
                <div class="media-element">
                  <div class="card-container box">
                    <div class="card-flip">
                      <!-- Début Card Front -->
                      <div class="card front">
                        <img src="{{ allSerie.image }}" class="card-img-top img-fluid unselect" alt="movie-poster" draggable="false" style="height:339px;">
                        <div class="card-block" style="height:101px;">
                          <h5 class="card-title" style="max-height:24px;">{{ allSerie.titre }}</h5>
                          <p class="card-text" style="padding-top:10px; margin-bottom:8px;"> {{ allSerie.typeVideo.libelleTypeVideo }} </p>
                          <p class="card-text">{{ allSerie.annee }}</p>
                        </div>
                      </div>
                      <!-- Fin Card Front -->

                      <!-- Début Card Back -->
                      <div class="card back">
                        <div class="card-block text-center cardblocktaille">
                          <h4 class="card-title souligne">Description</h4>
                          <p class="card-text">
                              {{ allSerie.description }}
                          </p>
                        </div>
                        <div class="card-block text-center">
                          <a href="/video/show/{{ allSerie.id }}" class="btn orange" style="margin-bottom:15px; margin-top:15px;">Watch</a>
                        </div>
                      </div>

                      <!-- Fin Card Back -->
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="progress-bar">
            <div class="prog-bar-inner3 sliderBarStyle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# Fin slider cards #}
  <script src="../js/scrollbar.js"></script>

{% endblock %}

