{% extends 'base.html.twig' %}
{% block title %}videos
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}

{% block body %}                        {# mettre les styles dans le fichier css #}

{# Div contenant le bandeau de la page #}
<div class="monbandeau">
  <p>Vos séries, films et animés tous regroupés sur Portail !</p>
</div>    

  <div class="demonstration">
    <span class="textDemonstrationSpan">PORTAIL, LE SITE DE STREAMING AVEC N'IMPORTE QUEL TYPE DE VIDEO</span>
    <p class="textDemonstrationP">Prenez un abonnement à Portail pour pouvoir bénéficier de toutes nos vidéos en HD, où vous voulez, quand vous voulez!</p>
    <div>
      <a href="#">VOIR NOS ABONNEMENTS</a>
    </div>
  </div>
                                
<div class="container-fluid" 
style="
padding-right: 90px;
padding-left: 90px;
"
>
<div class="grid-wrapper">
	{% for videos in videos %}
		{% set url = path('accueil') %}


		<!-- Card -->
		<div class="card-container box">
			<div class="card-flip">
				<!-- Card Front -->
				<div class="card front">
					<img src="https://i.ibb.co/jT8pwN0/Blood-Prison.jpg" class="card-img-top img-fluid" alt="movie-poster">
					<div class="card-block">
						<h5 class="card-title">{{ videos.titre }}</h5>
						<p class="card-text">{{ videos.typeVideo.libelleTypeVideo }}</p>
						<p class="card-text">
							<small class="text-muted">2011</small>
						</p>
					</div>
				</div>
				<!-- End Card Front -->

				<!-- Card Back -->
				<div class="card back">
					<div class="card-header warning-color"></div>
					<div class="card-block text-center">
						<h4 class="card-title">Rating</h4>
						<p class="card-text">
							<a href="#" class="rating">7,52/10</a>
						</p>
						<a href="#" class="btn orange">Watch</a>
					</div>
					<img class="movie" src="https://i.ibb.co/2Kqn5L9/Blood-Prison.png" alt="back-img">
				</div>
				<!-- End Card Back -->
			</div>
		</div>
		<!-- End Card -->







        
        {# <div class="col-md-6 ml-auto mr-auto col-sm-1 col-lg-4 card__content " style="background-color: #f8f5f000!important;">
          <div class="card mb-3 slow-transition zoom " style="background-color: #f8f5f000!important;">

            <div class="card-header text-center" style="background-colorrgb(251	, 253, 238)">
              <h4 style="margin-bottom:-5px; color:black;">{{ videos.typeVideo.libelleTypeVideo }}</h4>
                <h2> 
                {% for categories in videos.categories %}
                    {{ categories.libelleCategorie }}
                {% endfor %} 
                </h2>
            </div>

            <div class="card-body  " style="background-color:#1d447bb3; height:50%">
              <h4 class="card-title">
                <a href="{{url}}">
                  {{ videos.titre }}
                </a>
              </h4>
            </div>

            <div class="row">
                <div class="col" style="background-color: #1d447bb3; margin-left:12px; margin-right:12px;">
                    <a href="{{url}}"><img src="{{videos.titre}}" alt="imagevideos" style="height:auto; width:30%;display:block; float:left"></a>
                    <a href="{{url}}" class="bouton" style="float: right; margin-top:20%;" href="#" role="button">cliquez ici</a>
                </div>
            </div>

          </div>
        </div>  #}

        {% endfor %} 
  </div>
  </div>
{% endblock %}

