{% extends 'base.html.twig' %}

{% block title %}Hello CinemaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="">
    <br><br><br><br>

    <h2>{{ Movie.title }}</h2>  

        <div class= "container"  style ="display: inline-flex">
            <div class="" style="">
                <h4 class="text-primary"></h4> 
                <img src="https://image.tmdb.org/t/p/original{{Movie.poster_path}}"> 
                 <p class="text-secondary">{{Movie.overview}}</p>
            </div>
        </div>

    <h3> reserver une seance a {{ cinema.nom }}!</h3>
    <table>
      <ul> calendrier des seances: </ul>
      {% for daySchedule in weekSchedule %}
          <tr class=""> 
            <td>
              {{daySchedule['date'].format('d/m/Y')}}  :
            </td>

            {% for dateTime in daySchedule['times'] %}
              <td> 
                <button type="button" class="btn btn-primary">  {{ dateTime.format('H:i') }} </button>
              </td>
            {% endfor %}
          </tr>
      {% endfor %}
    </table>
</div>


{% endblock %}