{% extends 'base.html.twig' %}
  {% block stylesheets %}
    <link rel="stylesheet" href="../css/cinecssresearch.css">

  {% endblock %}
{% block title %}Resultat correspondant{% endblock %}

{% block body %}

<div class="container-fluid" style="padding-top: 130px; width:65%">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<h1 style="text-align: center; padding-bottom:10px;">Voici les films disponibles à : {{ cinema.nom }}</h1>

<h2> 
    Recherche : 
    <span style="float:right"> {{ researchResults|length }} résultat(s)</span>
</h2>

<div class="cards-container">
        {% for item in researchResults %}
<div class="card">
  <a href="{{ path('cinema.MovieView',{id:item.id,idcine:idCine}) }}">
    <div class="img1" style="background-image: url(https://image.tmdb.org/t/p/original{{item.poster_path}});"></div>
    <div class="img2" style="background-image: url(https://image.tmdb.org/t/p/original{{item.poster_path}});"></div>
    <a class="text-light" href="{{ path('cinema.MovieView',{id:item.id,idcine:idCine}) }}">
      <div class="title">{{item.title}}</div>
    </a>
    <div class="text">{{item.overview}}</div>
    <a href="{{ path('cinema.MovieView',{id:item.id,idcine:idCine}) }}"><div class="catagory">langue : {{item.original_language}} <i class="fas fa-film"></i></div></a>
    <a href="{{ path('cinema.MovieView',{id:item.id,idcine:idCine}) }}"><div class="views">{{item.release_date}}  <i class="far fa-eye"></i> </div></a>
  </a>
</div>


        {% endfor %}
</div>

</div>

{% endblock %}
