{% extends 'base.html.twig' %}

{% block title %}Toutes nos videos{% endblock %}

{% block body %}
 <br><br><br><br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
    <h1>Videos</h1>
    <a href="{{ path('video.new') }}">
    <h3>Nouvelle video</h3>
    </a>
    {% for video in videos %}
        <div>
         <p> {{video.titre}}</p>
         <a href="{{ path('video.edit',{id : video.id}) }}">Modifier</a>
         <a href="{{ path('video.del',{id : video.id}) }}">supprimer </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
