{% extends 'base.html.twig' %}

{% block title %}new video
{% endblock %}

{% block header %}
{% include 'partials/header.html.twig' %}
{% endblock %}



{% block body %}


<div style='padding-top:70px;'> {# Début Container #}

  
  {# Affichage du synopsis et de l'iframe vidéo #}
  <div class='m-5 d-flex justify-content-center mb-2'>

    {% if video.url == null %}

        {# Affiche l'affiche du film #}
        <div> 
          <img src="../{{ video.image }}" height="339px"/><br>
        </div>
      </div>
        {# Affiche un message temporaire au cas où le film n'a pas de trailer #}
        <div class='text-center'>
          <p> Aucun trailer n'est disponible pour ce film </p>
        </div>

      {% else %}
      <div>
        <iframe 
          width="963" {# Value de base d'une vidéo Youtube 963 #}
          height="542" {# Value de base d'une vidéo Youtube 542 #}
          src="{{ video.url }}"  {# url de la bdd (Youtube : Portail) #}
          title="{{ video.titre }}" {# Titre de la vidéo/film/série (Optionnel) #}
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen
        ></iframe> 
      </div> 
      <div class='mx-5'>

        <h3 class='text-center'> Synopsys </h3>
          <hr> {# Barre Horizontale #}
        <p> {{ video.description }} </p>
          <hr> {# Barre Horizontale #}
        <p class='text-center'> Année de réalisation : {{ video.annee }} </p>
        
      </div>
    {% endif %}
    
    
  </div>  
  {# Fin Affichage #}  
  
  {# Titre de la vidéo #}
  <h2 class='text-center'>{{video.titre}}</h2>
  
  {{ app.user.getUserIdentifier() }}
  {# Ajouter un if pour le s de commentaire / avec ou sans / sans 0-1 || avec 2 - + #}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

</div> {# Fin Container #}
<img src="../../img/LOGO4.png" height="45" style="padding-left:3px;"/>
<img src="../../img/OUI.png" height="45" style="padding-left:3px;"/>

    {% endblock %}
