{% extends 'base.html.twig' %}

{% block title %}new video
{% endblock %}

{% block header %}
{% include 'partials/header.html.twig' %}
{% endblock %}



{% block body %}


<div style='padding-top:70px;'> {# Début Container #}

  
  {# Affichage du synopsis et de l'iframe vidéo #}
  <div class='m-5 d-flex justify-content-center mb-2'>

    {% if video.url == null %}

        {# Affiche l'affiche du film #}
        <div> 
          <img src="../{{ video.image }}" height="339px"/><br>
        </div>
      </div>
        {# Affiche un message temporaire au cas où le film n'a pas de trailer #}
        <div class='text-center'>
          <p> Aucun trailer n'est disponible pour ce film </p>
        </div>

      {% else %}
        {% if user.abonnement != null %}
            <div>
              <iframe 
                width="963" {# Value de base d'une vidéo Youtube 963 #}
                height="542" {# Value de base d'une vidéo Youtube 542 #}
                src="{{ video.url }}"  {# url de la bdd (Youtube : Portail) #}
                title="{{ video.titre }}" {# Titre de la vidéo/film/série (Optionnel) #}
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen
              ></iframe> 
              <h1 class='text-left'>{{video.titre}} || Bande Annonce</h1>
            </div> 
          </div> 
          
            <hr> {# Barre Horizontale #}
          <div class='mx-5'>
            {# Titre de la vidéo #}
            
            <h3 class='text-center'> Synopsys </h3>
              <hr> {# Barre Horizontale #}
            <p class='text-center'> Année de réalisation : {{ video.annee }} </p>
            <p> {{ video.description }} </p>
              <hr> {# Barre Horizontale #}
            
          </div>
          {% else %}
            {# Affiche l'affiche du film #}
            <div> 
              <img src="../{{ video.image }}" height="339px"/><br>
            </div>
          </div>
            {# Affiche un message temporaire au cas où le film n'a pas de trailer #}
            <div class='text-center'>
              <p> Vous devez avoir un abonnement pour visualiser ce trailer </p>
            </div>
        
    
    
        </div>  
        {# Fin Affichage #}  

        <div style="padding-top:50px;">
          <div id="content" class="content">
            <div class="movies-container">

            
              {% for videos in videosAll|slice(0, 5) %}
                {% if videos.categories.first() == video.categories.first() and videos.titre != video.titre %}
                  <a href="/video/show/{{ videos.id }}" draggable="false" style="color:white;">

                  <div class="boxNew">
                    <h3 class="maxTailleTitre">{{ videos.titre }}</h3>
                    <span>{{ videos.typeVideo.libelleTypeVideo }}</span>
                  </div>

                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

      {% endif %}
    {% endif %}

		<div class="row mx-5">
      <div class="col-sm-6">
          <h1>Espace commentaire</h1>


      {% if user.abonnement != null %}
        <b> {{ app.user.prenom }} {{ app.user.nom }} </b>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      {% endif %}
      <hr> {# Barre Horizontale #}
      </div>
    </div>
  

  {% for commentaires in commentaire %}

    <div class="row mx-5">
      <div class="col-sm-6">

        <p><b> {{ commentaires.users.prenom }} {{ commentaires.users.nom }} : </b> {{ commentaires.texte }} </p>
    

        {% if app.user.id == commentaires.users.id %}
        
          <a href="{{ path('com_del.del', {'id': commentaires.id}) }}" class="btn btn-success">Supprimer</a>
        
        {% endif %}
      <hr> {# Barre Horizontale #}

      </div>
    </div>
  {% endfor %}

    
</div> {# Fin Container #}

    {% endblock %}
