{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="../../css/adminPartial.css">
{% endblock %}
{% block title %}Liste des vidéos
{% endblock %}

{% block body %}
	<div class="container-fluid" style="padding-top:100px;">
		<div class="row">
			{% include "partials/_adminnav.html.twig" %}
			<main class="col-9 border colorFond">
				<h1>Liste des utilisateurs</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre</th>
							<th>Qualité</th>
							<th>Année</th>
							<th>Types</th>
							<th>Catégories</th>
							<th>Affiche</th>
              <th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for videos in videos %}
							<tr>
								<td>{{ videos.id }}</td>
								<td>{{ videos.titre }}</td>
								<td>{{ videos.qualite }}</td>
								<td>{{ videos.annee }}</td>
								<td>{{ videos.typeVideo.libelleTypeVideo }}</td>
								<td>
									{% for categorie in videos.categories %}
										{{ categorie.libelleCategorie }}
									{% endfor %}
								</td>
								<td>
                
									<img src="{{ asset(videos.image) }}" class="card-img-top img-fluid unselect" alt="movie-poster" draggable="false" style="height:50px;">
								</td>
								<td>
									<a href="{{ path('admin_video.edit', {'id': videos.id}) }}" class="btn btn-success">Modifier</a>
                  <a href="{{ path('admin_video.del', {'id': videos.id}) }}" class="btn btn-success">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}


