{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../css/styleCatalogue.css">
	<link rel="stylesheet" href="../css/catalogue.css">
  <link rel="stylesheet" href="../css/boutique.css">
{% endblock %}


{% block body %}


	<div id="generic_price_table" style="padding-top:90px;">   
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h1>Les abonnements prénium de Portail</h1>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">
            
            <!--BLOCK ROW START-->
            <div class="row">

            {% for allAbonnement in allAbonnement %}
                <div class="col-md-4">
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>{{ allAbonnement.libelleAbonnement }}</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="currency">{{ allAbonnement.prix }}</span>
                                    <span class="sign">€</span>
                                    <span class="month">/Mois</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                            	<li><span>Pas de publicités</span> </li>
                                <li><span>Accès au catalogue de Portail en illimité</span></li>
                                <li><span>Qualité jusqu'à {{ allAbonnement.qualiteMax }}p</span> </li>
                                <li><span>Support Disponible</span></li>
                                <li><span>Sans engagements</span></li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        {% if app.user and app.user.isVerified == false %}
                          <div class="generic_price_btn clearfix">
                        	  <a class="" href="{{ path('resend_verif') }}">Vérifier le compte</a>
                            <p>compte non vérifié</p>
                          </div>
                        {% endif %}
                        {% if app.user and app.user.isVerified == true %}
                          <div class="generic_price_btn clearfix">
                        	  <a class="" href="{{ path('paiement', {'id': allAbonnement.id}) }}">Paiement</a>
                          </div>
                        {% endif %}


                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                
                {% endfor %}
             
            </div>	
            <!--//BLOCK ROW END-->
            
        </div>
    </section>             
	<footer>
  </footer>
</div>


{% endblock %}

