{% extends 'base.html.twig' %}

{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}

{% block title %}
	videos
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../css/styleCatalogue.css">
	<link
	rel="stylesheet" href="../css/catalogue.css">
{# <link href="{{ asset('../css/styleCatalogue.css') }}" rel="stylesheet" /> #}

{% endblock %}


{% block body %}


	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; padding-top: 90px;  margin-top:-10px;">
		<h1 class="responsiveTexte">
			Catalogue De Portail
			<a href="/catalogue" class="lienNav" style="float:right">retour au catalogue complet</a>
		</h1>
		<div class="row borderColorFiltre">
			<h2 style="padding-top:20px;">
				Voici nos vidéos de type :
				{{ leType }}</h2>
			<div class="d-flex left" role="search">
				<input placeholder="Search" aria-label="Search" type="text" id="titre-input" name="titre-input" class="autocomplete autocompleteTest">
			</div>
		</div>
	</div>
</div>
<div class="" style="padding-top:50px;">
<div id="content" class="content" style="">
	{% include "catalogue/cardsCatalogue.html.twig" %}
</div>

{% endblock %}

{% block javascripts %}{# essayer de fusionenr les codes d'en dessous #}<script>window.onload = () => {
$(document).ready(function () {
$("#titre-input").autocomplete({
source: function (request, response) {
$.ajax({
url: "{{ path('autocomplete_titres3') }}",
dataType: "json",
data: {
term: request.term,
idType: {{ idType }}
},
success: function (data) {
response(data);
}
});
},
minLength: 2,
select: function (event, ui) {
var titreValue = ui.item.value;
var idVideo = ui.item.id;
window.location.href = "{{ path('video.show', {'id': 'idVideo'}) }}".replace('idVideo', idVideo);


$.ajax({
url: '{{ path('typeShow', {'idType': idType}) }}',
type: 'POST',
data: {
titre: titreValue
},
success: function (response) {
var content = $(response).find('#content').html();
$('#content').html(content);
},
error: function (jqXHR, textStatus, errorThrown) {
console.log(errorThrown);
}
});
}
});
});


$('#titre-input').keyup(function (event) {
var titreValue = $('#titre-input').val();

$.ajax({
url: '{{ path('typeShow', {'idType': idType}) }}',
type: 'POST',
data: {
titre: titreValue
},
success: function (response) {
var content = $(response).find('#content').html();
//        console.log(content);
// event.preventDefault(); // Empêcher le comportement de rafraîchissement par défaut du navigateur
$('#content').html(content);


// Exécuter votre requête AJAX à nouveau à chaque fois que la réponse est réussie
},
error: function (jqXHR, textStatus, errorThrown) {
console.log(errorThrown); // Afficher les erreurs dans la console
}
});
});

}</script>{% endblock %}

