{% extends 'base.html.twig' %}

{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}

{% block title %}
	videos
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../css/styleCatalogue.css">
	<link rel="stylesheet" href="../css/catalogue.css">
  {# <link href="{{ asset('../css/styleCatalogue.css') }}" rel="stylesheet" /> #}

{% endblock %}


{% block body %}

	{# début image bannière #}
	<div class="divimage" style="padding-bottom:20px;" ><img class="img-fluid imageDiv" src="../img/portaildiv2.png">
	</div>
	{# fin image bannière #}

	{# Début div présentation magasin #}
	<div class="workshopbody">
		<div id="movie-card-list">
			<div class="movie-card">
				<div class="color-overlay">
					<div class="movie-share">&nbsp;</div>
					<div class="movie-content">
						<div class="movie-header">
							<h1 class="movie-title">PROFITEZ DES MEILLEURS FILMS/SÉRIES/ANIMÉS AVEC PORTAIL PRIME.</h1>

							<h4 class="movie-info">Le site de streaming que vous allez adorer</h4>
						</div>
						<br>
						<p class="movie-desc">Abonnez-vous à Portail Prime pour pouvoir profiter de toutes nos vidéos sans pub et en qualité HD, où que vous soyez et quand vous voulez ! Profitez donc de nos offres qui vous permettrons de prendre un portail vers de nouvelles aventures
																																																	        et de nouvelles dimensions.</p>
						<a class="btn btn-outline" href="https://claytonstate.qualtrics.com/jfe/form/SV_9FScuNt5Fdv5yXb" target="_blank">Magasin</a>
					</div>
					<div class="movie-content" style="float:right !important; width:45%;">
						<img class="img-fluid" src="../img/fondDivAchat3.png" alt="MDB Logo" loading="lazy" style="padding-left:3px;"/>
					</div>
				</div>

			</div>
		</div>
	</div>
	{# Fin div présentation magasin #}


	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px;">
  <h1> Catalogue De Portail <a href="/catalogue" class="lienNav" style="float:right">retour au catalogue complet</a></h1> 
		<div class="row borderColorFiltre">
			<div class="col-sm-12 text-white styleContainBox2">
      <h2> Voici nos vidéos de catégories : {{ laCategorie }}</h2>
				<div class="boxes4">
					<div class="d-flex left" role="search">
						<input placeholder="Search" aria-label="Search" type="text" id="titre-input" name="titre-input" class="autocomplete autocompleteTest">
					</div>
				</div>
			</div>
    </div>
  </div>

		<div class="container-fluid" style="padding-right: 90px; padding-left: 90px;">
			<div class="grid-wrapper" id="content">
				{% include "catalogue/cardsCatalogue.html.twig" %}
			</div>
		</div>


	{% endblock %}


	{% block javascripts %}

		{# essayer de fusionenr les codes d'en dessous #}
			<script>
window.onload = () => {
$(document).ready(function () {
$("#titre-input").autocomplete({
source: function (request, response) {
$.ajax({
url: "{{ path('autocomplete_titres2') }}",
dataType: "json",
data: {
term: request.term,
idCategorie: {{ idCategorie }}
},
success: function (data) {
response(data);
}
});
},
minLength: 2,
select: function (event, ui) {
var titreValue = ui.item.value;
var idVideo = ui.item.id;
window.location.href = "{{ path('video.show', {'id': 'idVideo'}) }}".replace('idVideo', idVideo);


$.ajax({
url: '{{ path('categorieShow', {'idCategorie': idCategorie}) }}',
type: 'POST',
data: {
titre: titreValue
},
success: function (response) {
var content = $(response).find('#content').html();
$('#content').html(content);
},
error: function (jqXHR, textStatus, errorThrown) {
console.log(errorThrown);
}
});
}
});
});


$('#titre-input').keyup(function (event) {
var titreValue = $('#titre-input').val();

$.ajax({
url: '{{ path('categorieShow', {'idCategorie': idCategorie}) }}',
type: 'POST',
data: {
titre: titreValue
},
success: function (response) {
var content = $(response).find('#content').html();
//        console.log(content);
// event.preventDefault(); // Empêcher le comportement de rafraîchissement par défaut du navigateur
$('#content').html(content);


// Exécuter votre requête AJAX à nouveau à chaque fois que la réponse est réussie
},
error: function (jqXHR, textStatus, errorThrown) {
console.log(errorThrown); // Afficher les erreurs dans la console
}
});
});

}
	</script>

{% endblock %}

